DB_URL =
DB_URL_LOCAL =
# DB_URL_LOCAL =
SECRET_KEY =
REFRESH_KEY =

NODE_ENV=
# NODE_ENV=

CLIENT_ID =
CLIENT_SECRET =
REFRESH_TOKEN_MAIL =
REDIRECT_URL =
PORT =
REDIS_URL =

OPENAI_API_KEY =
DICTIONARY_KEY=
# GEMINI_API_KEY=
GEMINI_API_KEY=

EMAIL_USER=
PASS_MAIL=